  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    font-family: "Poppins", sans-serif;

}
.contenido{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr auto;
}
:root{
    --base-color: #e8f0ff;
    --primary-color:#244696;
    --primary-color-dark: #06358C;
    --secondary-color: #51A81B;
    --secondary-color-dark: #397e2d;
    --text-dark:#093d26;
    --text-light: #9ECA8B;
    --text-light-secondary: #6578B6;
    --text-dark-secondary:#011e53;
    --extra-light: #EBECFA;
}
a{text-decoration: none; color: var(--text-dark-secondary);}
ul{list-style: none;}
h1{font-size: 2rem;}
h2{
    font-size: 3rem;   
    font-weight: bold;     
    text-transform: uppercase; 
    padding-bottom:2rem;
    color:var(--primary-color-dark);
}
h3{font-size:3rem;padding-bottom: 1rem;}
p{font-size: 1rem;}

.reporte_horas{
    margin:6rem 20rem;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5rem;
}

th, td {
    border: 0.1rem solid #d3d3d3;
    padding: 1rem;
    text-align: center;
}

th {
    background: #eee;
}

.cumplida {
    background-color: #d4edda; /* verde */
}

.incumplida {
    background-color: #f8d7da; /* rojo */
}
